<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.njk" %}
</head>
<body>
    {% include "svg.njk" %}
    {% include "header.njk" %}
    {% include "search-dialog.njk" %}
    <div class="main-container">
        <div class="radiance-container">
           {% include "sidenav.njk" %}
             <main>
                 <article data-pagefind-body>
                    {{ content | safe }} 
                 </article>
                {% include "footer.njk" %}
             </main>
        </div>
    </div>
</body>
</html>