@keyframes radiance {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}
