pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}

/* Dark Theme */

.hljs-comment {
  color: #565f89;
}
.hljs-meta {
  color: #8097ff;
}
.hljs-deletion,
.hljs-doctag,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-tag,
.hljs-template-tag,
.hljs-variable.language_ {
  color: #dd6999;
}
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-params,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #ff9d8b;
}
.hljs-attribute,
.hljs-built_in {
  color: #ff9d8b;
}
.hljs-keyword,
.hljs-property,
.hljs-subst,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #7dcfff;
}
.hljs-selector-tag {
  color: #73daca;
}
.hljs-addition,
.hljs-bullet,
.hljs-quote,
.hljs-string,
.hljs-symbol {
  color: #9deaae;
}
.hljs-code,
.hljs-formula,
.hljs-section {
  color: #8097ff;
}
.hljs-attr,
.hljs-char.escape_,
.hljs-keyword,
.hljs-name,
.hljs-operator {
  color: #caa6ff;
}
.hljs-punctuation {
  color: #c0caf5;
}
.hljs {
  background: #06000d;
  color: #9aa5ce;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}

/* Light Theme */

.light .hljs-meta {
  color: #34548a;
}

.light .hljs-comment {
  color: #9699a3;
}

.light .hljs-tag,
.light .hljs-doctag,
.light .hljs-selector-id,
.light .hljs-selector-class,
.light .hljs-regexp,
.light .hljs-template-tag,
.light .hljs-selector-pseudo,
.light .hljs-selector-attr,
.light .hljs-variable.language_,
.light .hljs-deletion {
  color: #8c4351;
}

.light .hljs-variable,
.light .hljs-template-variable,
.light .hljs-number,
.light .hljs-literal,
.light .hljs-type,
.light .hljs-params,
.light .hljs-link {
  color: #965027;
}

.light .hljs-built_in,
.light .hljs-attribute {
  color: #8f5e15;
}
.light .hljs-selector-tag {
  color: #166775;
}

.light .hljs-keyword,
.light .hljs-title.function_,
.light .hljs-title,
.light .hljs-title.class_,
.light .hljs-title.class_.inherited__,
.light .hljs-subst,
.light .hljs-property {
  color: #0f4b6e;
}

.light .hljs-selector-tag {
  color: #33635c;
}

.light .hljs-quote,
.light .hljs-string,
.light .hljs-symbol,
.light .hljs-bullet,
.light .hljs-addition {
  color: #485e30;
}

.light .hljs-code,
.light .hljs-formula,
.light .hljs-section {
  color: #34548a;
}

.light .hljs-name,
.light .hljs-keyword,
.light .hljs-operator,
.light .hljs-keyword,
.light .hljs-char.escape_,
.light .hljs-attr {
  color: #5a4a78;
}

.light .hljs-punctuation {
  color: #343b58;
}

.light .hljs {
  background: rgba(246, 246, 246, 0.466);
  color: #565a6e;
}

.light .hljs-emphasis {
  font-style: italic;
}

.light .hljs-strong {
  font-weight: bold;
}
