@page {
  /* cutting margins for book printing */
  margin: 25mm;
}

@media print {
  .main-container {
    max-height: fit-content;
  }

  .main-header {
    display: none !important;
  }

  aside {
    display: none !important;
  }

  .main-footer {
    display: none !important;
  }

  #ng-landing-logo {
    display: none !important;
  }

  article {
    min-height: fit-content;
    margin: 0;
    padding: 0;
    break-after: page;
    text-align: start;
  }

  article img {
    border-radius: 0;
  }

  pre,
  .light pre {
    border-radius: 0;
    overflow: visible;
    border-left: 2px solid var(--fg-light);
    box-shadow: none;
    margin: 1rem 0;
  }

  pre code {
    padding-right: 1rem;
    overflow: visible;
    text-wrap: wrap;
  }

  .no-print {
    display: none !important;
  }
}
