body {
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: var(--green-dark);
  --pagefind-ui-text: var(--fg-dark);
  --pagefind-ui-background: var(--bg-dark);
  --pagefind-ui-border: var(--gray-dark);
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: var(--font-default);
}

.light {
  --pagefind-ui-primary: var(--green-light);
  --pagefind-ui-text: var(--fg-light);
  --pagefind-ui-background: var(--bg-light);
  --pagefind-ui-border: var(--gray-light);
}

.pagefind-ui__search-input:focus {
  border-color: var(--bg-dark-lifted);
}
