<footer class="main-footer">
    <span>&copy ფრიდონ თეთრაძე <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a></span>
    <span>მხარი დაუჭირეთ პროექტს <a href="https://www.buymeacoffee.com/pridon">შემოწირულობით!</a></span>
</footer>