<footer class="main-footer">
    <ul>
        <h3>Contact</h3>
        <li><a href="mailto:pridontetradze@gmail.com"><i class="fa-solid fa-envelope"></i>Mail</a></li>
        <li><a href="https://www.linkedin.com/in/pridon-tetradze-a4349a216/"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
        <li><a href="https://www.facebook.com/fridon.tetradze"><i class="fa-brands fa-square-facebook"></i>Facebook</a></li>
    </ul>
    <ul>
        <h3>Platforms</h3>
        <li><a href="https://github.com/CondensedMilk7"><i class="fa-brands fa-square-github"></i>GitHub</a></li>
        <li><a href="https://www.youtube.com/channel/UCwyFNOOo6WwVIlqgYSFQTzQ"><i class="fa-brands fa-square-youtube"></i>YouTube</a></li>
    </ul>
</footer>