<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/animations.css" />
  <link rel="stylesheet" href="/styles/elements/article.css">
  <link rel="stylesheet" href="/styles/elements/header.css">
  <link rel="stylesheet" href="/styles/elements/footer.css">
  <link rel="stylesheet" href="/styles/elements/search.css">
  <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
  {# <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png"> #}
  <link rel="icon" href="/assets/logo.png">
  <script src="https://kit.fontawesome.com/a2743438da.js"></script>
  <script type="module" src="/scripts/main.js"></script>
  <script defer src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
  <meta property="og:title" content="{{ title }}">
  <meta property="og:image" content="/assets/landing-image.jpg">
  <meta property="og:description" content="Angular-ის ქართული არაოფიციალური სახელმძღვანელო">
  <meta name="description" content="{{ description }}">
    <link
    defer
    rel="stylesheet"
    href="/styles/highlight-theme.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script defer>
        hljs.highlightAll();
    </script>   
  <title>{{ title }} | Angular Guide</title>
</head>