---
title: "Page Not Found"
layout: "base.njk"
description: "Requested page does not exist."
permalink: "404.html"
---

<div class="not-found-container">
    <img src="https://64.media.tumblr.com/668a21316e691594842eaa2d618862cc/tumblr_mposgyzArC1s5lf2ro1_500.gif" alt="A girl nodding off in front of a computer">
    <h1>გვერდი ვერ მოიძებნა</h1>
    <p>მოდი, <a href="/">თავიდან დავიწყოთ!</a></p>
</div>