---
title: "Page Not Found"
layout: "base.njk"
description: "Requested page does not exist."
permalink: "404.html"
---

<div class="not-found-container">
    <img src="/assets/exhausted.gif" alt="თავჩაქინდრული გოგონა კომპიუტერის მაგიდასთან">
    <h1>გვერდი ვერ მოიძებნა</h1>
    <p>მოდი, <a href="/">თავიდან დავიწყოთ!</a></p>
</div>